{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <style>
        table {
            width: 100%;
        }
    </style>

    <table>
        <thead>
            <tr>
                <td>#</td>
                <td>Название</td>
                <td>Метка</td>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.getId() }}</td>
                <td>{{ product.getTitle() }}</td>
                <td>{{ product.getTag() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
